.btn-black{
  background-color: #111430;
  padding: 10px 50px !important;
  border-radius: 5px;
  color: #fff;
}
.txt-green{
  color: #7AB259;
}
.card{
  border: none;
}
.bg-color{
  background-color: #FBD062;
}
.brand img{
  height: 50px;
  margin-left: 70px;
}
.carouselBg{
  background-color: #111430;
  padding-bottom: 80px !important;
}
.border{
  border: 1px solid lightgray;
}
.carousel-indicators .active{
  background-color: #111430;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: #111430;
}
.footerP{
  margin: 0;
}